</script>
let menu = [

{name:'Main',url:'/main',icon:'<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">  <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>'},
{name:'Calendar',url:'/calendar',icon:'<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">  <path d="M12 14l9-5-9-5-9 5 9 5z" /><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" /><path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" /></svg>'},
{name:'Settings',url:'/settings',icon:'<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" /></svg>'},
{name:'PlantCV',url:'/plantcv',icon:'<i class="fa fa-pagelines fa-5x w3-text-green w3-margin-right" aria-hidden="true"></i>'},
{name:'Soil',url:'/soil',icon:'<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>'},
]
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<label>
    <input type="checkbox" >
    <span class="menu"> <span class="hamburger"></span> </span >
    <nav>
	<div id="grid-col">
	    {#each menu as {name,url,icon},i}
	    <a href={url}>
		
		<button  class="cell">
		    <div style="transform: scale(0.5);">{@html icon}</div>
		    <div style="position:relative; bottom:15%;">{name}</div>
		    
		</button>
	    </a>
	    {/each}
	</div>
    </nav>
</label>

<header>
    <!-- <div class="corner"> -->
    <!-- 	<a class="color: white" href="https://kit.svelte.dev"> -->
    <!-- 		<img src={logo} alt="Climco" /> -->
    <!-- 	</a> -->

    <!-- </div> -->
    <!-- <div class="corner"> -->
    <!--   <\!-- TODO put something else here? github link? -\-> -->

    <!--   Climco -->
    <!-- </div> -->
</header>

<style>

 :root{
     --supla-green: #00d151;
     --nice-green: #4CAF50;
     --pure-white: #ffffff;
     --primary-color: var(--supla-green);
     --secondary-color: #d0dde9;
     --tertiary-color: #edf0f8;
     --accent-color: #ff3e00;
     --heading-color: rgba(0, 0, 0, 0.7);
     
 }

 .fa-user-o,.fa-home,.fa-pagelines  {font-size:10rem}
 
 /* (A) CONTAINER */
 #grid-col {
     /* (A1) GRID LAYOUT */
     display: grid;
     
     /* (A2) SPECIFY COLUMNS */
     grid-template-columns: 1fr 1fr 1fr;
     gap: 5%;
     /* we can also specify exact pixels, percentage, repeat
	/* grid-template-columns: 50px 100px 150px; */
     /* grid-template-columns: 25% 50% 25%; */
     /* grid-template-columns: 100px 20% auto; */
     /* grid-template-columns: repeat(3, auto); *\/ */
 }
 
 /* (B) GRID CELLS */
 button.cell{
     background: var(--heading-color);
     border: 5px solid var(--primary-color);
     border-radius: 5%;
     /* padding-top: 70%; */
     /* padding-bottom: 50%; */
     color: var(--primary-color);
     font-weight: 1000;
     font-size: 2vw;
     height: 20vw;
     width: 20vw;
     transition-duration: .3s;
 }

 button.cell:hover {
     background: var(--primary-color);
     /* background-color: blue; */
     color: var(--heading-color);
     cursor: pointer;
 }
 /* (C) RESPONSIVE - 1 COLUMN ON SMALL SCREENS */
 @media screen and (max-width: 720px) {
     #grid-col { grid-template-columns: 1fr 1fr;
	 gap:1px 10px;
     }
     button.cell{height: 40vw;
	 width: 40vw;
	 font-size: 3vw;

     }
 }


 html { font-size: 18px; }

 label .menu {
     position: absolute;
     right: -5rem;
     top: -5.5rem;
     z-index: 100;
     width: 200px;
     height: 200px;
     background: black;
     border-radius: 50% 50% 50% 50%;
     -webkit-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
     box-shadow: 0 0 0 0 black, 0 0 0 0 black;
     cursor: pointer;
     
 }

 label .hamburger {
     /* środkowa linijka hamburgera */
     position: absolute;
     top: 135px;
     left: 50px;
     width: 30px;
     height: 2px;
     background: var(--primary-color);
     display: block;
     -webkit-transform-origin: center;
     transform-origin: center;
     -webkit-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
 }

 label .hamburger:after, label .hamburger:before {
     /* dolna i gorna linijka hamburgiera */
     -webkit-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
     content: "";
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     background:var(--primary-color);
 }

 label .hamburger:before { top: -10px; }

 label .hamburger:after { bottom: -10px; }

 label input { display: none; cursor: not-allowed;}

 label input:checked + .menu {
     box-shadow: 0 0 0 100vw black, 0 0 0 100vh black;
     border-radius: 0;
     
 }

 label input:checked + .menu .hamburger {
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     
 }

 label input:checked + .menu .hamburger:after {
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     bottom: 0;
     
 }

 label input:checked + .menu .hamburger:before {
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     top: 0;
     
 }

 label input:checked + .menu + nav {
     opacity: 1;
     display: grid;
 }

 nav ul {
     list-style:none;
     text-align: center;
 }

 label nav {
     
     z-index: 200;
     position: absolute;
     opacity: 0;
     display: none;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     -webkit-transition: .25s 0s ease-in-out;
     transition: .25s 0s ease-in-out;
 }

 label a {
     margin-bottom: 1em;
     display: block;
     color: var(--primary-color);
     text-decoration: none;
     font-weight:1000;
 }

 h1 {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     width: 80%;
     text-align: center;
 }

</style>
