<script>

  import ChartContainer from "$lib/chartComponents/ChartContainer.svelte";
  // import { weddings } from "lib/data/weddings";

  let weatherData = [{'date_timestamp': '1650556413', 'temperature': '18.2000', 'humidity': '93.0000'}, {'date_timestamp': '1650555813', 'temperature': '19.1000', 'humidity': '93.0000'}, {'date_timestamp': '1650555213', 'temperature': '19.7000', 'humidity': '93.0000'}, {'date_timestamp': '1650554614', 'temperature': '20.0000', 'humidity': '93.0000'}, {'date_timestamp': '1650554013', 'temperature': '19.6000', 'humidity': '88.0000'}, {'date_timestamp': '1650553414', 'temperature': '20.0000', 'humidity': '85.0000'}, {'date_timestamp': '1650552813', 'temperature': '21.3990', 'humidity': '76.0000'}, {'date_timestamp': '1650552214', 'temperature': '21.8990', 'humidity': '78.0000'}, {'date_timestamp': '1650551613', 'temperature': '24.7000', 'humidity': '83.0000'}, {'date_timestamp': '1650551014', 'temperature': '22.2990', 'humidity': '95.0000'}, {'date_timestamp': '1650550413', 'temperature': '22.8990', 'humidity': '90.0000'}, {'date_timestamp': '1650549814', 'temperature': '25.6000', 'humidity': '81.0000'}, {'date_timestamp': '1650549213', 'temperature': '27.7990', 'humidity': '65.0000'}, {'date_timestamp': '1650548614', 'temperature': '35.2990', 'humidity': '64.0000'}, {'date_timestamp': '1650548013', 'temperature': '31.0000', 'humidity': '87.0000'}, {'date_timestamp': '1650547413', 'temperature': '28.3990', 'humidity': '84.0000'}, {'date_timestamp': '1650546813', 'temperature': '30.2990', 'humidity': '79.0000'}, {'date_timestamp': '1650546213', 'temperature': '34.0000', 'humidity': '71.0000'}, {'date_timestamp': '1650545613', 'temperature': '30.8990', 'humidity': '87.0000'}, {'date_timestamp': '1650545013', 'temperature': '28.1000', 'humidity': '93.0000'}, {'date_timestamp': '1650544413', 'temperature': '28.7000', 'humidity': '95.0000'}, {'date_timestamp': '1650543813', 'temperature': '28.8990', 'humidity': '93.0000'}, {'date_timestamp': '1650543213', 'temperature': '27.7000', 'humidity': '95.0000'}, {'date_timestamp': '1650542613', 'temperature': '26.2000', 'humidity': '95.0000'}, {'date_timestamp': '1650542013', 'temperature': '25.1000', 'humidity': '95.0000'}, {'date_timestamp': '1650541413', 'temperature': '24.3990', 'humidity': '95.0000'}, {'date_timestamp': '1650540813', 'temperature': '24.2990', 'humidity': '95.0000'}, {'date_timestamp': '1650540213', 'temperature': '24.2990', 'humidity': '95.0000'}, {'date_timestamp': '1650539613', 'temperature': '25.1000', 'humidity': '95.0000'}, {'date_timestamp': '1650539013', 'temperature': '25.6000', 'humidity': '95.0000'}, {'date_timestamp': '1650538414', 'temperature': '27.5000', 'humidity': '95.0000'}, {'date_timestamp': '1650537813', 'temperature': '28.7990', 'humidity': '92.0000'}, {'date_timestamp': '1650537214', 'temperature': '28.6000', 'humidity': '95.0000'}, {'date_timestamp': '1650536613', 'temperature': '25.8990', 'humidity': '95.0000'}, {'date_timestamp': '1650536014', 'temperature': '23.6000', 'humidity': '95.0000'}, {'date_timestamp': '1650535413', 'temperature': '22.2990', 'humidity': '95.0000'}, {'date_timestamp': '1650534813', 'temperature': '22.0000', 'humidity': '95.0000'}, {'date_timestamp': '1650534213', 'temperature': '22.7990', 'humidity': '95.0000'}, {'date_timestamp': '1650533613', 'temperature': '22.0000', 'humidity': '95.0000'}, {'date_timestamp': '1650533013', 'temperature': '20.8990', 'humidity': '93.0000'}, {'date_timestamp': '1650532414', 'temperature': '20.6000', 'humidity': '93.0000'}, {'date_timestamp': '1650531813', 'temperature': '20.2000', 'humidity': '93.0000'}, {'date_timestamp': '1650531214', 'temperature': '20.7000', 'humidity': '93.0000'}, {'date_timestamp': '1650530613', 'temperature': '20.0000', 'humidity': '93.0000'}, {'date_timestamp': '1650530014', 'temperature': '20.6000', 'humidity': '93.0000'}, {'date_timestamp': '1650529413', 'temperature': '21.8990', 'humidity': '94.0000'}, {'date_timestamp': '1650528813', 'temperature': '21.6000', 'humidity': '94.0000'}, {'date_timestamp': '1650528213', 'temperature': '20.2990', 'humidity': '93.0000'}, {'date_timestamp': '1650527613', 'temperature': '18.5000', 'humidity': '93.0000'}, {'date_timestamp': '1650527013', 'temperature': '18.3990', 'humidity': '93.0000'}, {'date_timestamp': '1650526413', 'temperature': '19.2000', 'humidity': '93.0000'}, {'date_timestamp': '1650525813', 'temperature': '20.2990', 'humidity': '93.0000'}, {'date_timestamp': '1650525213', 'temperature': '19.1000', 'humidity': '93.0000'}, {'date_timestamp': '1650524613', 'temperature': '17.6000', 'humidity': '92.0000'}];
</script>

<h1>MAIN</h1>

      <ChartContainer
    type={"lineChart"}
    chartProps={{
      data: weatherData,
      xVar: "date_timestamp",
      yVars: ["temperature", "humidity"],
    }}/>


<table>
  <tr>
    <th>Avg</th>
    <th>Min</th>
    <th>Max</th>
</tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>


<style>
  ul {
    list-style-type:none;
    border: 1px;}

  table{
    width: 100%;
    border: 1px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
  text-align: center;
}
</style>
