<!DOCTYPE html>
<html lang="en">
<head>
<title>Climco - your supla greenhouse assistant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-user-o,.fa-home,.fa-pagelines  {font-size:200px}

.login{
  transition: .3s;
}
</style>
</head>
<body>
<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Clim.co</h1>
  <p class="w3-xlarge">Your greenhouse assistant powered by Supla!</p>
  <a href="main" class="w3-button w3-black w3-padding-large w3-large w3-margin-top login w3-round-large">Get Started with Supla!</a>
</header>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-pagelines fa-6 w3-padding-64 w3-text-green w3-margin-right" aria-hidden="true"></i>
    </div>

    <div class="w3-twothird">
      <h1>Reach better crops!</h1>
      <h5 class="w3-padding-32">Let us analyse your data, cooperate with  other users!</h5>

      <p class="w3-text-grey">Climco gonna be your heart-side assistant, and gonna help you with having as many crops as you can!</p>
    </div>
  </div>
</div>


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Build your own greenhouse</h1>
      <h5 class="w3-padding-32">Use our template for FreeCAD to project your own greenhouse, just let us know how many windows do you want to use, and receive ready to build blueprints!</h5>

      <p class="w3-text-grey">Project is completed using CalculiX to calculate FEM results such as optimalization for use as little material as it is possible and time needed to reach exact temperature. Export your values to Climco, so it can know how to manage your temperatures!</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-home w3-padding-64 w3-text-green"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-user-o fa-6 w3-padding-64 w3-text-green w3-margin-right" aria-hidden="true"></i>
    </div>

    <div class="w3-twothird">
      <h1>Meet other gardeners!</h1>
      <h5 class="w3-padding-32">Climco is not only an smart greenhouse app, it gonna social media features soon!</h5>

      <p class="w3-text-grey">Soon we wanna add social media features, so it gonna be possible to post your results, exchange your plants and meet similar souls!</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live long life with your own vegetables!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>



</body>
</html>
