<script>
  import { onMount } from "svelte";
  import { chart } from "svelte-apexcharts?client";
  import Stats from '$lib/stats/stats.svelte';
  // import {sensorID} from '$lib/stats/stats.svelte';

  let options = {
     chart: {
       type: "line",
    },
     series: [],
    xaxis: {
      type: 'datetime',
    },
    noData: {
      text: 'Loading...'
    },
    tooltip: {
      x: {
	format: 'HH:mm dd/MM/yy'
      }
    }
  };

  export let sensorID=5455;  
  async  function getWeatherData(sensorID){
    const response = await fetch('/api/sensorID:' + sensorID + '/weatherData');
    return await response.json();
  };

  
  
 onMount(async () =>{
   const response = await fetch('/api/sensorID:' + sensorID + '/weatherData');
   let res =  await response.json();
   options.series = res;
 });
</script>

<title>Main page</title>
<h1>MAIN</h1>


{#await getWeatherData(sensorID)}
  Loading the data!
{:then weatherData}
  {console.log(weatherData)}
      <div class="chart">
	<div use:chart={options} />
      </div>

{:catch error}
popsuło sie
{/await}



<Stats />







<style>



/* NORMAL SCREEN */


    .chart{
      background-color: var(--pure-white);
	  /* padding-top:5px; */
	  padding: 20px;
	  /* text-align: center; */ 
	  font-size:1em;
	  grid-column: 1/4;
    }


  ul {
    list-style-type:none;
    border: 1px;}

  table{
    width: 100%;
    border: 1px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
  text-align: center;
}
</style>

