
<!-- TODO: Add datetime picker: https://apexcharts.com/javascript-chart-demos/area-charts/datetime-x-axis/ -->
<!-- TODO: Add language pack with i18n https://lokalise.com/blog/svelte-i18n/#Installing_Svelte_i18n -->

<script context=module>
  // import data from '$lib/stats/data.svelte';
  // import sensorID from '$routes/main.svelte'
  // import { draw } from 'svelte/transition';

  let sensorID = 5455;
  async  function getWeatherStats(hours, sensorID){
    const response = await fetch('/api/sensorID:' + sensorID + '/weatherStats/' + hours);
    console.log(sensorID);
    return await response.json();
  };

  function addZero(i) {
  if (i < 10) {i = "0" + i}
  return i;
}

    function hourDisplay(t){
    t = new Date(t);
      let hr = addZero(t.getHours());
      let min = addZero(t.getMinutes());
      return hr + ':' +min;
    }


  function dayDisplay(t){
    t = new Date(t)
    let day = addZero(t.getDate());
    let month = addZero(t.getMonth() + 1);
    let hr = addZero(t.getHours());
    let min = addZero(t.getMinutes());
    return day + '/'+ month + ' ' +hr + ':' +min;
  }


  const time = new Array(7,12,24);
  const daysTime = new Array(7,14,30);

  for (let i = 0; i < daysTime.length; i++) {
    let convHrs = daysTime[i] * 24;
    time.push(convHrs);
  }

</script>
  <div class="weather-stats">
    <h1>Statistics</h1>

{#each  time as hours}
  {#await getWeatherStats(hours, sensorID)}

    <div class="weather-stats-item">
      <h2>last {hours} hours:</h2>

	<p>Loading the data!</p>


    </div>
  {:then weatherStats}
  <!-- TODO: thats not DRY, export it to function   -->
  {#if hours <= 24 }
    <div class="weather-stats-item" >
      <h2>last {hours} hours:</h2>

      <div class="temperature">
        <h3 class="cellHeader">Temperature</h3>
	<p>max: {weatherStats.temperature.max.value}
	  at time:
	  {hourDisplay(weatherStats.temperature.max.time*1000)} <br>
	  
	  min: {weatherStats.temperature.min.value}
	  at time
	  {hourDisplay(weatherStats.temperature.min.time*1000)} <br>

	  amplitude: {weatherStats.temperature.max.value - weatherStats.temperature.min.value} <br>
	  mean: {weatherStats.temperature.mean}  +/-  {weatherStats.temperature.std} <br>
	  
	  median: {weatherStats.temperature.median}</p>
      </div>
      <div class="humidity">
        <h3>Humidity</h3>
	<p>max: {weatherStats.humidity.max.value} at time {hourDisplay(weatherStats.humidity.max.time*1000)} <br>
	  
	  min: {weatherStats.humidity.min.value} at time {hourDisplay(weatherStats.humidity.min.time*1000)} <br>

	  amplitude: {weatherStats.humidity.max.value - weatherStats.humidity.min.value} <br>
	  
	  mean: {weatherStats.humidity.mean}  +/-  {weatherStats.humidity.std} <br>
	  
	  median: {weatherStats.humidity.median}</p>
      </div>
    </div>
  {:else}
        <div class="weather-stats-item" >
      <h2>last {hours/24} days:</h2>

      <div class="temperature">
        <h3 class="cellHeader">Temperature</h3>
	<p>max: {weatherStats.temperature.max.value}
	  at time:
	  {dayDisplay(weatherStats.temperature.max.time*1000)} <br>
	  
	  min: {weatherStats.temperature.min.value}
	  at time
	  {dayDisplay(weatherStats.temperature.min.time*1000)} <br>

	  amplitude: {weatherStats.temperature.max.value - weatherStats.temperature.min.value} <br>
	  mean: {weatherStats.temperature.mean}  +/-  {weatherStats.temperature.std} <br>
	  
	  median: {weatherStats.temperature.median}</p>
      </div>
      <div class="humidity">
        <h3>Humidity</h3>
	<p>max: {weatherStats.humidity.max.value} at time {dayDisplay(weatherStats.humidity.max.time*1000)} <br>
	  
	  min: {weatherStats.humidity.min.value} at time {dayDisplay(weatherStats.humidity.min.time*1000)} <br>
	  
	  amplitude: {weatherStats.humidity.max.value - weatherStats.humidity.min.value} <br>
	  
	  mean: {weatherStats.humidity.mean}  +/-  {weatherStats.humidity.std} <br>
	  
	  median: {weatherStats.humidity.median}</p>
      </div>
    </div>
{/if}
{:catch error}
  popsuło sie

{/await}

{/each}

  </div>
<style>
@media (max-width: 600px) {
    .weather-stats{
      grid-template-columns: 1fr;
      /* grid-template-rows: 1fr; */
    }
    .weather-stats-item{
      grid-column: auto;
      grid-row: auto;
      grid-template-columns: 1fr;
    }
}

.temperature > h3 {
  /* background-color: var(--primary-color); */
  border-left:20px solid var(--secondary-color);
  text-transform: uppercase;
  border-radius:10px;
  padding:10px;
}

.humidity > h3 {
  /* background-color: var(--primary-color); */
  border-left:20px solid var(--tertiary-color);
  text-transform: uppercase;
  border-radius:10px;
  padding:5px;
}
.weather-stats{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 5px ;
    }
    .weather-stats-item{
      grid-column: auto;
      grid-row: auto;
      /* display:grid; */
      grid: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      border-radius:5px;
      gap:5px;
      padding:5px;
      padding-right:0px;
    }

.temperature{
      grid-column: auto;
      grid-row: auto;
      padding: 5px;
      border-radius:10px;
      background-color: var(--tertiary-color);
      gap:5px;
}
.humidity{
      grid-column: auto;
      grid-row: auto;
      padding: 5px;
      border-radius:10px;
      background-color: var(--secondary-color);
}
	.weather-stats-item > h2 {
	  /* grid-column: 1/4; */
	  padding: 5px;
	  border-left: 20px solid var(--accent-color);
	  border-radius:10px;
	  font-weight:1000;
	  text-transform: uppercase;
	  font-size:1.5em;
		    
	}
	.weather-stats-item{
	  background-color: var(--primary-color);
	  /* border: 1px solid rgba(0, 0, 0, 0.8); */
	  border-radius:10px;
	  /* padding-top:5px; */
	  /* padding: 20px; */
	  /* text-align: center; */
	  font-size:1em;
	  display:grid;
	}

	.weather-stats > h1 {
	  font-weight: 900;
	  font-size:2em;
	  grid-column: 1/4;
	  background-color: var(--primary-color);
	  padding:10px;
	}

</style>
